@using Core.Dto.ViewModel.Dr.DietVM
@using Core.Extention
@model IEnumerable<ShowUserDietPanelVm>
@{
    ViewData["Title"] = "Index";
}



<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title"> لیست سفارشات</h3>
        </div>
        <div class="card-body">
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DietName)
                        
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserPanelName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserDiteName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreateAt)
                        </th>
                        <th>
                            نوع فرم
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.status)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                               @item.DietName
                            </td>
                            <td>
                                @item.UserPanelName
                            </td>
                            <td>
                                @item.UserDiteName
                            </td>
                            <td>
                                @item.CreateAt.ToPersian()
                            </td>
                            <td>
                             @if(item.ParentId==0)
                                {
                                    <label>فرم اولیه</label>

                                }
                                else
                                {
                                    <label>فرم ثانویه</label>
                                }
                            </td>
                            <td>
                                @if (item.status == Domain.UserDietstatus.FillForm)
                                {
                                    <label class="label label-danger">در انتظار پرداخت</label>
                                }
                                @if (item.status == Domain.UserDietstatus.Pay)
                                {
                                    <label class="label label-success">پرداخت شده</label>
                                }
                                @if (item.status == Domain.UserDietstatus.send)
                                {
                                    <label class="label label-primary">دریافت رژیم</label>
                                }
                            </td>
                            <td>
                                <a class="btn btn-info" asp-action="UserForm" asp-route-UserId="" asp-route-DietId="@item.DietId" asp-route-UserDietId="@item.UserdietId">فرم های کاربر</a>
                                <a class="btn btn-dark" asp-action="SendDiet" asp-route-UserDietId="@item.UserdietId">ارسال رژیم</a>
                                @* <a asp-action="Delete" asp-route-id="@item.UserdietId" onclick="return confirm('ایا از حذف اطمینان دارید؟')" class="btn btn-danger"> حذف</a> *@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
</div>
</div>
</div>