@model IEnumerable<Domain.Shop.Product>
@{
    ViewData["Title"] = "محصولات";
}

<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title"> لیست محصولات</h3>
        </div>
        <div class="card-body">
            <p>
                <a class="btn btn-success" asp-action="Create">جدید</a>
            </p>
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ImageUrl)
                        </th>
                       
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                      
                        <th>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>

                            <td>
                                <img src="@item.ImageUrl" style="width:50px" />
                            </td>
                      
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                            <td>
                                <a class="btn btn-info" asp-action="Edit" asp-route-ProductId="@item.Id">ویرایش</a>
                                <a class="btn btn-primary" asp-action="ProductImageList" asp-route-ProductId="@item.Id">تصاویر محصول</a>


                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


