@model IEnumerable<Domain.Dr.Diet>
@{
    ViewData["Title"] = "رژیم ها";
}


<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title"> لیست رژیم ها</h3>
        </div>
        <div class="card-body">
            <p>
                <a class="btn btn-success" asp-action="Add">جدید</a>
            </p>
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a class="btn btn-info" asp-action="Edit" asp-route-DietId="@item.Id">ویرایش</a>
                                <a class="btn btn-success" asp-action="DietQuestion" asp-route-DietId="@item.Id" asp-route-FirstForm="true"> سوالات فرم اولیه</a>
                                <a class="btn btn-outline-success" asp-action="ShowDiet" asp-route-DietId="@item.Id" asp-route-FirstForm="true"> پیش نمایش فرم اولیه</a>
                                <a class="btn btn-dark" asp-action="DietQuestion" asp-route-DietId="@item.Id" asp-route-FirstForm="false"> سوالات فرم ثانویه</a>
                                <a class="btn btn-outline-dark" asp-action="ShowDiet" asp-route-DietId="@item.Id" asp-route-FirstForm="false"> پیش نمایش فرم ثانویه</a>
                                <a asp-action="Delete" asp-route-id="@item.Id"  onclick="return confirm('ایا از حذف اطمینان دارید؟')" class="btn btn-danger"> حذف</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
            </div>
            </div>

