@model IEnumerable<Domain.Shop.Category>
@{
    ViewData["Title"] = "دسته بندی";
}

<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title"> لیست گروه ها</h3>
        </div>
        <div class="card-body">
            <p>
                <a class="btn btn-success" asp-action="Create">جدید</a>
            </p>
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CategoryName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Image)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>

                            <td>
                                <img src="@item.Image" style="width:50px"/>
                            </td>
                            <td>
                                <a class="btn btn-info" asp-action="Edit" asp-route-CategoryId="@item.Id">ویرایش</a>
                              

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


